<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">


<body>

<!-- /.container -->
<div th:fragment="header">
    <script src="/js/jquery.js"></script>
    <script src="/js/data_load.js"></script>
    <script src="/js/utils.js"></script>

    <script src="/js/stomp.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>


    <script>
        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function delete_cookie(name, path, domain) {
            if (getCookie(name)) {
                document.cookie = name + "=" +
                    ((path) ? ";path=" + path : "") +
                    ((domain) ? ";domain=" + domain : "") +
                    ";expires=Thu, 01 Jan 1970 00:00:01 GMT";
            }
        }


        const cToken = getCookie("token");
        if (cToken) {
            localStorage.setItem('token', cToken);
            delete_cookie('token', '/', null)
        }
    </script>

    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/view/account">Account</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/view/products">Products</a>
                </li>
                <li>
                    <a href="/view/orders">My Orders</a>
                </li>
                <li>
                    <a href="/view/cart" id="cart_count" class="glyphicon glyphicon-shopping-cart"> </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a id="login" href="/view/login">Login</a>
                </li>
                <li id="logout">
                    <a href="#" onclick="logout()">Logout</a>
                </li>
            </ul>
        </div>
        <script>
            var token = getOauthTokenFromStorage();
            if (token) {
                $("#login").hide()
            } else {
                $("#logout").hide()
            }

            updateCartCount();

            function logout() {
                removeOauthTokenFromStorage();
                location.reload();
            }
        </script>

        <!-- /.navbar-collapse -->
    </div>

    <script src="/js/events.js"></script>
    <script>
        connect();
    </script>
    <!-- /.container -->
</div>

</body>

</html>