<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<body>

<div th:fragment="products">
    <script src="/js/jquery.js"></script>
    <script src="/js/data_load.js"></script>
    <div class="row" id="products">

        <!--<div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    <h4 class="pull-right">$24.99</h4>
                    <h4><a style="white-space: normal" href="#">First Product</a>
                    </h4>
                    <p>See more snippets like this online store item at <a target="_blank"
                                                                           href="http://www.bootsnipp.com">Bootsnipp
                        - http://bootsnipp.com</a>.</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>-->

    </div>
    <script>
        loadProducts();
    </script>
</div>


<div th:fragment="shop_products">
    <script src="/js/jquery.js"></script>
    <script src="/js/data_load.js"></script>
    <script src="/js/utils.js"></script>
    <div class="row" id="products">

        <!--<div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    <h4 class="pull-right">$24.99</h4>
                    <h4><a style="white-space: normal" href="#">First Product</a>
                    </h4>
                    <p>See more snippets like this online store item at <a target="_blank"
                                                                           href="http://www.bootsnipp.com">Bootsnipp
                        - http://bootsnipp.com</a>.</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>-->

    </div>
    <script>
        loadProductsByShop();
    </script>
</div>

</body>

</html>