<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<body>

<div th:fragment="user_info">
    <div class="form-group">
        <label for="fullName" class="col-sm-3 control-label">Full Name</label>
        <div class="col-sm-9">
            <input type="text" id="fullName" placeholder="Full Name" class="form-control" autofocus>
            <span class="help-block">Last Name, First Name, eg.: Smith, Harry</span>
        </div>
    </div>
    <div class="form-group">
        <label for="fist_name" class="col-sm-3 control-label">First Name</label>
        <div class="col-sm-9">
            <input type="text" id="fist_name" placeholder="First Name" class="form-control" autofocus>
        </div>
    </div>
    <div class="form-group">
        <label for="last_name" class="col-sm-3 control-label">Last Name</label>
        <div class="col-sm-9">
            <input type="text" id="last_name" placeholder="Last Name" class="form-control" autofocus>
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
            <input type="email" id="email" placeholder="Email" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
            <input type="password" id="password" placeholder="Password" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="market_name" class="col-sm-3 control-label">Market Name</label>
        <div class="col-sm-9">
            <input type="text" id="market_name" placeholder="Market Name" class="form-control" autofocus>
            <span class="help-block">My supper shop</span>
        </div>
    </div>
    <div class="form-group">
        <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
        <div class="col-sm-9">
            <input type="date" id="birthDate" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="country" class="col-sm-3 control-label">Country</label>
        <div class="col-sm-9">
            <select id="country" class="form-control">
                <option>Afghanistan</option>
                <option>Bahamas</option>
                <option>Cambodia</option>
                <option>Denmark</option>
                <option>Ecuador</option>
                <option>Fiji</option>
                <option>Gabon</option>
                <option>Haiti</option>
            </select>
        </div>
    </div> <!-- /.form-group -->
    <div class="form-group">
        <label class="control-label col-sm-3">Gender</label>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input name="gender" type="radio" id="femaleRadio" value="Female">Female
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input name="gender" type="radio" id="maleRadio" value="Male">Male
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input name="gender" type="radio" id="uncknownRadio" value="Unknown">Unknown
                    </label>
                </div>
            </div>
        </div>
    </div> <!-- /.form-group -->
</div>


<div th:fragment="shop_products">
    <script src="/js/jquery.js"></script>
    <script src="/js/data_load.js"></script>
    <script src="/js/utils.js"></script>
    <div class="row" id="products">

        <!--<div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    <h4 class="pull-right">$24.99</h4>
                    <h4><a style="white-space: normal" href="#">First Product</a>
                    </h4>
                    <p>See more snippets like this online store item at <a target="_blank"
                                                                           href="http://www.bootsnipp.com">Bootsnipp
                        - http://bootsnipp.com</a>.</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>-->

    </div>
    <script>
        loadProductsByShop();
    </script>
</div>

</body>

</html>