spring:
  application:
    name: registry
  cloud:
    config:
      uri: http://localhost:8888
      fail-fast: true
#      password: ${CONFIG_SERVICE_PASSWORD}
      password: 333
      username: user

eureka:
  instance:
    prefer-ip-address: true
  client:
    registerWithEureka: false
    fetchRegistry: false
    server:
      waitTimeInMsWhenSyncEmpty: 0


server:
 port: 8081