<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">


<body>

<!-- /.container -->
<div th:fragment="header">
    <script src="/market/js/jquery.js"></script>
    <script src="/market/js/data_load.js"></script>
    <script src="/market/js/utils.js"></script>
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Start Bootstrap</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="/market/view/cart" id="cart_count" class="glyphicon glyphicon-shopping-cart"> </a>
                </li>
            </ul>
        </div>
        <script>
            updateCartCount()
        </script>

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</div>

</body>

</html>